body {
  margin: 0;
  padding: 0;
  background: #ebf0f6;
  font-family: helvetica;
}

h1, h2, h3, .alphabet {
  margin: 0;
  word-wrap: break-word;
}
h1 {
  font-size: 63px;
}

h2 {
  font-size: 36px;
  line-height: 140%;
}

h3 {
  font-size: 18px;
  color: gray;
}

h4 {
  font-size: 14px;
  color: black;
  margin: 16px 0 0 0;
}

.alphabet {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 120%;
}

p {
  font-size: 13px;
  margin-bottom: 0;
  position: absolute;
  bottom: 13px;
}

.grid-container {
  padding: 4.25vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 14vw);
  grid-auto-rows: 14vw;
  grid-gap: 1.5vw;
}

.grid-container > div {
  padding: 13px;
  margin: 0;
  background-color: white;
  position: relative;
}

.grid-container .center-text {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateXY(50%,50%);
}

.grid-container .black, .grid-container .black h3  {
  background-color: black;
  color: white;
}

.grid-container > div img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.pic-a {
  background-image: url(./assets/a.png);
  background-position: bottom right;
  background-size: cover;
}

.pic-brace {
  background-image: url(./assets/curly_bracet.png);
  background-position: 73% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic-and {
  background-image: url(./assets/and.png);
  background-position: bottom right;
  background-size: cover;
}

@media (max-width: 1200px) and (min-width: 901px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 14px;
  }
  .alphabet {
    font-size: 30px;
  }
  p {
    font-size: 10px;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .grid-container {
    padding: 0;
    margin: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 28vw);
    grid-auto-rows: 28vw;
    grid-gap: 2.25vw;
  }
  .wide.tall.pic-a {
    grid-row: span 1;
    grid-column: span 1;
  }
}

@media (max-width: 600px) {
  .grid-container {
    padding: 0;
    margin: 6vw;
    display: grid;
    grid-template-columns: repeat(2, 42vw);
    grid-auto-rows: 43vw;
    grid-gap: 4vw;
  }
  .wide.tall.pic-a {
    grid-row: span 2;
    grid-column: span 2;
  }
  .weights {
    grid-row: span 1;
    grid-column: span 2;
  }
  .alphabet-box {
    grid-row: span 2;
    grid-column: span 2;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  .alphabet {
    font-size: 58px;
  }
  .movie {
    grid-row: span 1;
    grid-column: span 2;
  }
}
